services:
  server:
    build:
      context: .
      dockerfile: Dockerfile
      target: server
    container_name: parser-server
    ports:
      - "8088:8080"
    volumes:
      - ./config.yml:/app/config.yml
      - ./tg.session:/app/tg.session
    networks:
      - app-network

  bot:
    build:
      context: .
      dockerfile: Dockerfile
      target: bot
    container_name: parser-bot
    depends_on:
      - server
    volumes:
      - ./bot_config.yml:/app/bot_config.yml
    networks:
      - app-network

networks:
  app-network:
    driver: bridge

